*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include size($max-size,$max-size);
}

body {
  box-sizing: border-box;
  @include size($max-size,$max-size);
}

#app {
  @include size($max-size,$max-size);
}