*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include size($max-size,$max-size);
}

body {
  box-sizing: border-box;
  @include size($max-size,$max-size);
}

#app {
  @include size($max-size,$max-size);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

li {
  list-style: none;
}