.error {
  color: $color-error;
}

.pointer {
  cursor: pointer;
}

.separator {
  margin: 5px;
}

.horizontalSeparator {
  width: 50%;
  height: 5px;
  background: $color-secondary;
  border-radius: 5px;
}