$color-error: #ff0000;
$color-primary: #35495E;
$color-secondary: #42b983;
$color-tertiary: #fff;
$color-quaternary: #808080;

$default-font-size: 1.6rem;

$max-size: 100%;
$min-size: 320px;

$margin-bottom-size: 20px;
$margin-bottom-size-small: 10px;