.levels {
  @include genericDisplay($max-size,$max-size);
  & > * {
    padding-bottom: $margin-bottom-size;
  }

  ul {
    width: 75%;
    max-width: 200px;

    & > * {
      padding-bottom: $margin-bottom-size;
    }
  }
}