.sudoku {
  @include genericDisplay($max-size,$max-size);

  & > * {
    margin-bottom: $margin-bottom-size;
  }

  &-top {
    width: 315px;
    display: flex;
    justify-content: space-evenly;
  }

  &-puzzle {
    display: flex;
    justify-content: center;

    &-container {
      display: grid;
      grid-template-columns: repeat(9,35px);
      grid-template-rows: repeat(9,35px);
      border: 2px solid $color-quaternary;

      &-cell {
        border: 1px solid $color-quaternary;

        &-row3, &-row6 {
          border-bottom: 2px solid $color-quaternary;
        }

        &-col3, &-col6 {
          border-right: 2px solid $color-quaternary;
        }

        &-unwritable {
          background-color: rgba($color-secondary, 0.3);
        }
      }
    }
  }

  &-numbers {
    display: flex;

    &-container {
      @include size(30px, 30px);
      margin: 0 3px;
    }
  }

  &-actions {
    display: flex;

    &-container {
      @include size(30px, 30px);
      margin: 0 3px;
    }
  }
}