.sudoku {
  @include genericDisplay($max-size,$max-size);

  & > * {
    margin-bottom: $margin-bottom-size;
  }

  &-top {
    width: 315px;
    display: flex;
    justify-content: space-evenly;
  }

  &-puzzle {
    //@include size(100%, 50%);
    display: flex;
    justify-content: center;

    &-container {
      display: grid;
      grid-template-columns: repeat(9,35px);
      grid-template-rows: repeat(9,35px);
      border: 2px solid gray;

      &-cell {
        border: 1px solid gray;
      }
    }
  }

  &-numbers {
    display: flex;

    &-container {
      @include size(30px, 30px);
      margin: 0 3px;
    }
  }

  &-actions {
    display: flex;

    &-container {
      @include size(30px, 30px);
      margin: 0 3px;
    }
  }
}