.button {
  border: 1px solid $color-primary;
  padding: 2px;
  border-radius: 5px;

  &:focus {
    outline: none;
  }

  &-number {
    @include size($max-size,$max-size);
    position: relative;
    font-size: 17px;
    background: white;

    &-count {
      position: absolute;
      top: 1px;
      right: 1px;
      font-size: 10px;
    }
  }

  &-action {
    @include size($max-size,$max-size);
    background: white;
  }
}